@font-face
{
	font-family: 'Sansation';
	src: url('../fonts/sansation.ttf');
}

/* Make use of CSS 3 variables */
:root {
	--transition: 300ms ease-out;
}

*{
	font-family: 'Segoe UI Light';
	font-weight: 100;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #ffe4c3 !important; /* override */
}

a {
	text-decoration: none;
}

.flex {
	display: flex;
}

.justify-center {
	justify-content: center;
}

.container {
    margin: auto 10%;
}

header .container {
    padding: 2em 0;
}

#logo span {
	font-family: Sansation;
	font-size: 3em;
	color: #bb0000;
	cursor: default;
}

#logo h1 {
    font-size: 4em;
	margin: 0;
}

#logo small {
    font-size: 1.5em;
}

#navbar {
    background-color: #fd7e58;
}

#navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#navbar ul li {
    flex: auto;
    text-align: center;
    padding: 15px 15px;
    transition: var(--transition);
}

#navbar ul li:hover {
	background-color: #733827;
}

#navbar ul li a {
    color: #fff;
    font-size: 1.3em;
}

.dropdown {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #fd7e58;
    margin-top: 15px;
    box-shadow: inset 0 5px 11px 0px #00000014;
    display: none;
}

.dropdown .container {
	padding: 30px 0;
}

.dropdown-image {
    flex: 30;
}

.dropdown-image img {
	max-width: 100%;
}

.dropdown-details {
	flex: 70;
	text-align: left;
}

.dropdown-details p {
    color: #F1F1F1;
    font-size: 30px;
}

.jumbotron {
    overflow: hidden;
    height: 100vh;
    position: relative;
	text-align: center;
}

.jumbotron h1 {
	margin: 0;
	font-size: 6em;
}

.jumbotron .line-separator {
    display: inline-block;
    width: 4.5em;
    height: 3px;
    margin: 20px auto;
}

.jumbotron p {
    margin: 0;
    font-size: 22px;
}

.jumbotron.left {
	text-align: left;
}

.jumbotron.right {
	text-align: right;
}

#jumbo_home {
	background-color: #ffbc83;
}

#jumbo_home h1 {
    color: #525252;
}

#jumbo_home .line-separator {
    background-color: #fd5858;
}

#jumbo_home p {
    color: #525252;
    text-align: justify;
}

#jumbo_visual {
    background-color: #fbc9c9;
}

#jumbo_visual h1 {
	color: #505050;
}

#jumbo_visual .line-separator {
    background-color: #fd5858;
}

#jumbo_visual p {
	color: #333333;
}

.content .container {
    padding: 10em 0;
}

.content p {
    font-size: 2em;
}

.page-content .container {
    padding: 5em 0;
}

.page-content h1 {
    font-size: 4em;
    margin: 0;
    color: #313131;
}

.line-separator {
    display: inline-block;
    width: 4.5em;
    height: 3px;
    margin: 15px auto;
    background-color: #fd5858;
}

.page-content h2 {
    margin: 25px 0;
    color: #313131;
    font-size: 35px;
}

.page-content p,
.page-content li {
    margin: 0 0 10px 0;
    font-size: 20px;
    color: #313131;
    text-align: justify;
}

.page-content li {
	list-style: circle;
	margin-bottom: 10px;
}

.grid-tiles {
    margin: 50px 0;
}

.grid-row {
    margin-bottom: 20px;
    display: flex;
}

.grid-tile {
    flex: auto;
    padding: 50px 0;
    max-width: 25%;
    cursor: pointer;
    margin: auto 10px;
    border-radius: 5px;
    transition: var(--transition);
    box-shadow: 2px 2px 9px 0px #00000047;
    text-align: center;
}

.grid-tile:hover {
    box-shadow: 2px 2px 9px 0px #0000007a;
    background-color: #9a713e;
}

.grid-tile img {
	max-width: 100%;
}

.grid-tile h3 {
    text-align: center;
    color: #616161;
    font-size: 1.5vw;
}

.grid-tile:hover > h3 {
    color: #fff;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #0000007a;
    display: none;
    overflow-y: auto;
}

.grid-tiles-content {
    background-color: #fff;
    width: 50%;
    margin: 80px auto; /* center it */
    padding: 30px 40px;
    position: relative;
}

.close {
	position: absolute;
	top: 5px;
	right: 15px;
	cursor: pointer;
	font-size: 25px;
	color: red;
	font-weight: bold;
}

.grid-tile-image-container {
    display: flex;
    margin: 4em auto;
}

.grid-tile-image {
    flex: auto;
    margin: auto 2em;
    text-align: center;
}

.grid-tile-image img {
    max-width: 100%;
}

.grid-tile-content h3 {
    font-size: 30px;
    margin: 0 0 15px 0;
}

.grid-tile-content {
    height: 100%;
    overflow-y: auto;
    padding: 0 20px;
}

.links-container {
    text-align: center;
    display: flex;
    margin-top: 10em;
    margin-bottom: 5em;
}

#view {
    background-color: #fd7e58;
    padding: 20px;
    color: #fff;
    font-size: 30px;
    margin: auto; /*  center */
    transition: var(--transition);
}

#view:hover {
    background-color: #f36135;
}

.gallery-masonry {
    margin: 0 auto;
}

.gallery-item {
	width: 370px;
	height: auto;
	margin-bottom: 7px;
	overflow: hidden;
	cursor: pointer;
}

.gallery-item img {
	width: 370px;
	height: auto;
	transition: var(--transition);
}

.gallery-item img:hover {
	transform: scale(1.2);
}

.image-viewer {
    width: 50%;
    background-color: white;
    margin: 5em auto;
    padding: 30px 50px;
    position: relative;
    border-radius: 10px;
}

.image-viewer .image-title {
    margin-bottom: .5em;
    margin-top: 0;
    font-size: 2.2em;
    color: #6d6d6d;
}

.image-viewer img {
    width: 100%;
    height: auto;
}

.image-viewer .image-attrib {
    text-align: right;
    margin-top: 1em;
    margin-bottom: 0;
    font-style: italic;
    font-size: 22px;
    color: #6d6d6d;
}